button:focus {
    outline: none;
}

.game-board-container {
    height: 300px;
    width: 300px;
    position: relative;
}

.game-board-container__grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.game-board-container__grid__tile {
    border: none;
    height: 100px;
    background-color: transparent;
}

.game-board-container__dividers {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 0;
    z-index: -1;
}

.divider__vertical__left {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 95px;
}

.divider__vertical__right {
    width: 5px;
    height: 100%;
    position: absolute;
    right: 95px;
}

.divider__horizontal__top {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 95px;
}


.divider__horizontal__bottom {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 95px;
}

.divider {
    border: 5px solid var(--app-blue);
    border-radius: 5px;
}

